#go-back {
    margin: 16px;
    background-color: #7380ec;
    color: white;
}

#personal-info {
    padding: 16px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.w3-card {
    margin: 30px;
    padding: 16px;
    border-radius: 20px;
}

.paybut button{
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: #7380ec;
    color: white;
}

#ccv {
    width: 100px;
}

#card_number {
    width: 180px;
}

#exp_month {
    width: 50px;
}
#exp_year {
    width: 50px;
}

#placeOrder {
    margin-bottom: 40px;
}

#placeOrder {
    cursor: pointer;
    text-align: center;
    background-color: #7380ec;
    color: white;
    background-color: var(--color-primary);
    border: none;   
    border-radius: 15px;
    box-shadow: 0 9px var(--color-primary-variant);
    margin: 20px;
    transform: translateY(-80%);
}

#placeOrder:active {
    background-color: var(--color-primary);
    box-shadow:  9px var(--color-primary-variant);
    transform: translateY(-50%);
    background-color: #7380ec;
    color: white;
}

.OS {
    height: 100px;
}