/**
 * /* Root variables
 *
 * @format
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    font-weight: bold;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small,
i {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
    font-weight: 200;
}

p {
    color: var(--color-dark-variant);
    font-weight: 200;
}

b {
    color: var(--color-dark);
}

/* WHAT ARE THESE COLORS FOR? */

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 3rem;
    height: 3rem;
}

aside .close {
    display: none;
}

/* SIDEBAR */

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a i {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active i {
    color: var(--color-primary);
    margin-left: calc(1rem-3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover i {
    margin-left: 1rem;
}

aside .sidebar .product-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* MODIFIED MAIN */

#cart-fab {
    background-color: var(--color-primary);
    transition: all .2s ease-in-out;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    border: 0;
    z-index: 2;
}

#cart-fab i {
    font-size: x-large;
    color: white;
}

#cart-fab:hover {
    background-color: var(--color-primary-variant);
}

.main-card {
    background: var(--color-white);
    border-radius: 10px;
    padding: 0 !important;
    margin-bottom: 8px;
    margin-top: 8px;
    overflow: hidden;
    width: 100%;
    transition: all .2s ease-in-out;
    box-shadow: none !important;
}

.main-card:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.05);
}

.square {
    width: 100%;
    padding: 100% 0 0 0;
    position: relative;
    margin: 0;
}

.square-contents {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.shop-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop-item-button {
    width: 50%;
    height: 100% !important;
    font-weight: bold;
    font-size: small;
    border: 0;
    background-color: var(--color-primary);
    color: white;
    transition: all 200ms ease-out;
}

.shop-item-button:hover {
    background-color: var(--color-primary-variant);
    color: var(--color-info-light);
}

.shop-item-button i {
    font-size: x-large;
}

.item-name {
    height: 55px;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.item-name h1 {
    font-weight: normal;
    font-size: large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0px;
    max-width: 95%;
}

.button-row {
    display: none;
    height: 55px !important;
    transition: all 0.3s ease-in-out;
}

.item-price {
    margin: 5px;
    background-color: var(--color-primary-variant);
    font-weight: bold;
}

/* MAIN */

main {
    margin-top: 1.4rem;
}

main.date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
}

main .date input[type="date"] {
    background: transparent;
    color: var(--color-info-dark);
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
}

main .insights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

main .insights>div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights>div:hover {
    box-shadow: none;
}

main .insights>div i {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights .stats i {
    background: var(--color-success);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-danger);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .insights .history svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .stats svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
}

/* Recent Orders */

main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;
}

main .recent-orders table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.add-cart-confirmation {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    transition: visibility 0.5s ease-out;
}

.add-cart-check {
    color: var(--color-primary-variant);
    font-size: 5rem;
    margin-bottom: 10px;
}

.add-cart-text {
    color: var(--color-dark);
    font-size: small;
    white-space: nowrap;
}

/* Right top profile */

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.right .top #menu-btn {
    display: none;
}

.right .top .profile {
    display: flex;
    gap: 1rem;
    text-align: right;
}

/* Recent Updates */

.right .recent-updates {
    margin-top: 1rem;
}

.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    box-shadow: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .member-analytics {
    margin-top: 2rem;
}

.right .member-analytics h2 {
    margin-bottom: 0.8rem;
}

.right .member-analytics .user {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .member-analytics .user:hover {
    box-shadow: none;
}

.right .member-analytics .user .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .member-analytics .user .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    display: flex;
    background: var(--color-primary);
}

.right .member-analytics .user.offline .icon {
    background: var(--color-danger);
}

.right .member-analytics .user.new .icon {
    background: var(--color-success);
}

.right .member-analytics .add-activity {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-3);
}

.right .member-analytics .add-activity:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.right .member-analytics .add-activity div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .member-analytics .add-activity div h3 {
    font-weight: 500;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders {
        width: 94;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-orders table {
        width: 83vw;
    }

}

/* Media Queries Mobile */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: sideMenu 400ms ease forwards;
    }

    @keyframes sideMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table {
        width: 100%;
        margin: 0;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .profile .info {
        display: none;
    }

    .right .top #menu-btn {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top #menu-btn i {
        font-size: 2rem;
    }
}

/*Checkout Button */
.checkout {
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--color-primary);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px var(--color-primary-variant);
    margin: 10px;
    transform: translateY(-80%);
}

.checkout:active {
    background-color: var(--color-primary);
    box-shadow:  9px var(--color-primary-variant);
    transform: translateY(-50%);
}

/*END ofCheckout Button */

/* Checkout Table */

#checkoutTable {
    table-layout: fixed;
}

#carttitle {
    text-align: left;
    font-weight: bold;
    color: var(--color-primary-variant);
    font-size: xx-large;
    position: absolute;
    padding-left: 10px;
    top: 20px;
    width: 100%;
}

#cartdiv {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    max-width: 500px;
    height: calc(100% - 50px);
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 100px;
    padding-top: 90px;
}

#checkouttotal {
    font-size: x-large;
    font-weight: bold;
    color: var(--color-primary-variant);
}

#checkoutfoot {
    margin-top: 25px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 40px);
}

#cartlist {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: 3px;
}

#cart-close {
    position: absolute;
    top: 50px;
    right: 40px;
    color: var(--color-primary);
    font-size: x-large;
    z-index: 5;
}

#cart-close:hover {
    color: var(--color-primary-variant);
}

.table {
    margin: 20px;
    width: 100%;
}

.cart-qty-plus,
.cart-qty-minus {
    display: inline block;
    margin: 0;
    height: 2em;
    width: 2em;
    border: 0;
    background-color: var(--color-primary);
    color: white;
}

.cart-qty-minus:hover,
.cart-qty-plus:hover {
    background-color: var(--color-primary-variant);
}

.qty-input {
    display: inline-block;
    margin: 0;
    height: 2em;
    width: 4em;
    border: 0;
    padding: 2px 5px;
    text-align: center;
}

.cart-item-name {
    color: var(--color-dark);
    font-size: large;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.cart-item-price {
    color: var(--color-primary-variant);
    font-size: large;
    font-weight: bold;
    text-align: left;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-variant);
}

footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    margin-top: 5%;
}
.container-footer {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col .title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--color-danger);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/

@media (max-width: 990px) {
    footer {
        width: 600px;
    }

    .container-footer {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    footer {
        width: 600px;
    }

    .container-footer {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 420px) {
    footer {
        width: 660px;
    }

    .container-footer {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 393px) {
    footer {
        width: 600px;
    }

    .container-footer {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 375px) {
    footer {
        width: 600px;
    }

    .container-footer {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
